<a href="https://colab.research.google.com/github/ryanhao1115/ML-for-Fraud-Detection/blob/main/4_1_activelearning_ordinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Active Learning with Ordinal encoding data
1. Ordinal encoding categorical fileds
2. Process the labeled fraud invoice
3. Sample data for active learning
4. Train model
5. Choose top 100 uncertain invoice
6. Get back the labeled data

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import classification_report, roc_auc_score

In [3]:
## import dataset 
path = '/content/drive/MyDrive/Colab Notebooks/finalproject/'
file = path + 'sales_clean.csv'
df = pd.read_csv(file)

In [4]:
df = df.drop(columns='Unnamed: 0')

In [5]:
df.tail()

       distributor     sales  branch  ... discount_app  list_price inv_ship_days
228596   A15020494  PJ036429  720018  ...            1       94.46             3
228597   A15020494  PJ036429  720018  ...            1      472.28             3
228598   A15020494  PJ036429  720018  ...            1     4733.26             3
228599   A15050131  PJ040864  720037  ...            1      450.00             4
228600   A15050131  PJ040864  720037  ...            1     8650.00             4

[5 rows x 16 columns]

## import label data and sampling

In [6]:
## import fraud data
file = path + 'frauds.csv'
df_fraud = pd.read_csv(file,header=None)
df_fraud.columns = ['invoice_no']

In [7]:
file = path + 'frauds2.csv'
df_fraud2 = pd.read_csv(file,header=None)
df_fraud2.columns = ['invoice_no']

In [8]:
df_fraud

    invoice_no
0   2111304677
1   2111329548
2   2111336900
3   2111349984
4   2111359806
5   2111368995
6   2111369060
7   2111373597
8   2111393180
9   2111400912
10  2111405209

In [9]:
def label_fraud(df, df_fraud, df_fraud2):
  df['fraud'] = np.zeros(len(df))
  frauds_l = df_fraud['invoice_no'].to_list()
  frauds_l2 = df_fraud2['invoice_no'].to_list()
  df.loc[df['invoice_no'].isin(frauds_l),'fraud'] = 1
  df.loc[df['invoice_no'].isin(frauds_l2),'fraud'] = 2
  return df

In [10]:
df = label_fraud(df, df_fraud,df_fraud2)

In [11]:
df['fraud'].value_counts()

0.0    228014
2.0       433
1.0       154
Name: fraud, dtype: int64

## Encoding

In [12]:
cols = df.columns.to_list()
cols = ['distributor', 'sales', 'branch', 'inv_type', 'invoice_no', 'product_no', 'prod_cla', 'cust_type']

In [13]:
def field_encoding(df):
  '''
  Ordinal encode categorical fields.
  '''
  cols = ['distributor', 'sales', 'branch', 'inv_type', 'invoice_no', 'product_no', 'prod_cla', 'cust_type']
  df[cols] = df[cols].astype('str') 
  enc = LabelEncoder()
  for f in cols:
    df[f] = enc.fit_transform(df[f])
  return df

In [14]:
df_enc = field_encoding(df)

In [15]:
df_enc.nunique()

distributor        639
sales              209
branch              28
inv_type             3
invoice_no       30721
product_no        1094
prod_cla             7
qty                202
total_amt        16112
sale_price        8598
ship_qty           202
cust_type           20
return               2
discount_app         2
list_price        6720
inv_ship_days      133
fraud                3
dtype: int64

In [16]:
df_enc.head()

   distributor  sales  branch  ...  list_price  inv_ship_days  fraud
0          637     39       0  ...      1000.0            239    0.0
1          450     21      10  ...     37000.0            237    0.0
2          118    110      23  ...       450.0            225    0.0
3          118    110      23  ...      3200.0            225    0.0
4           68    142      23  ...       450.0            225    0.0

[5 rows x 17 columns]

## Resampling to address the imbalance class
Because fraud labels are given to invoice level, need to keep records of same invoice together.

In [17]:
df_fraud = df_enc[df_enc['fraud'] == 1]
df_non_fraud = df_enc[df_enc['fraud'] == 0]
df_fraud2 = df_enc[df_enc['fraud'] == 2]

In [18]:
df_fraud2.tail()

        distributor  sales  branch  ...  list_price  inv_ship_days  fraud
217821          483     87       2  ...      3580.5              0    2.0
217822          483     87       2  ...       346.5              0    2.0
217823          483     87       2  ...      3703.7              0    2.0
217824          483     87       2  ...       346.5              0    2.0
217825          483     87       2  ...      4312.0              0    2.0

[5 rows x 17 columns]

In [19]:
def sampling_inv(df_non_fraud):
  '''
  Random sampling from unlabled invoices.
  '''
  sample_inv = df_non_fraud['invoice_no'].unique()
  print(len(sample_inv))
  sample_inv1 = np.random.choice(sample_inv,size=1000,replace=False)
  sample_inv = np.setdiff1d(sample_inv,sample_inv1)
  print(len(sample_inv))
  sample_inv2 = np.random.choice(sample_inv,size=10000,replace=False)
  sample_inv = np.setdiff1d(sample_inv,sample_inv2)
  print(len(sample_inv))
  return sample_inv1, sample_inv2, sample_inv

In [20]:
sample_inv1, sample_inv2, sample_inv = sampling_inv(df_non_fraud)

30686
29686
19686

In [21]:
len(np.unique(sample_inv2))

10000

In [22]:
## Build training dataset
df_train = df_non_fraud[df_non_fraud['invoice_no'].isin(sample_inv1)]
df_train = pd.concat([df_train,df_fraud])
df_train = df_train.sort_index()

In [49]:
## Build eval dataset
df_eval = df_non_fraud[df_non_fraud['invoice_no'].isin(sample_inv2)]
df_eval = pd.concat([df_eval,df_fraud2])
df_eval.loc[df_eval['fraud'] == 2, 'fraud'] = 1 
df_eval = df_eval.sort_index()

In [ ]:
df_train.head()

## Standardscale data

In [30]:
scaler = StandardScaler()

In [31]:
X_train = df_train.drop(columns=['fraud'])
y_train = df_train['fraud'].values
X_train = scaler.fit_transform(X_train)
y_train = y_train.reshape(len(y_train),1)

In [32]:
X_eval = df_eval.drop(columns=['fraud'])
y_eval = df_eval['fraud'].values
X_eval = scaler.transform(X_eval)
y_eval = y_eval.reshape(len(y_eval),1)

In [33]:
X_train[0]

array([ 1.12170975, -0.0171135 ,  1.65998078,  0.03678559, -1.75726635,
        1.5801828 , -0.08821103, -0.09347048,  0.09596717,  1.36282573,
       -0.09145284, -0.23992399, -0.03678559,  0.        ,  1.3610212 ,
       -0.16311424])

In [34]:
y_eval.shape

(74868, 1)

## Build model

In [35]:
# define the  model
model = Sequential()
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu', kernel_initializer='he_normal'))
model.add(Dense(16,activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [36]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                544
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 17
=================================================================
Total params: 1,089
Trainable params: 1,089
Non-trainable params: 0
_________________________________________________________________

## Training model

In [37]:
model.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
232/232 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8600
Epoch 2/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0963 - accuracy: 0.9792
Epoch 3/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0868 - accuracy: 0.9795
Epoch 4/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0819 - accuracy: 0.9818
Epoch 5/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0777 - accuracy: 0.9823
Epoch 6/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0740 - accuracy: 0.9823
Epoch 7/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0699 - accuracy: 0.9828
Epoch 8/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0650 - accuracy: 0.9832
Epoch 9/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0611 - accuracy: 0.9830
Epoch 10/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0565 - accuracy: 0.9832
Epoch 11/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0530 - accuracy: 0.9841
Epoch 12/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0499 - accuracy: 0.9838
Epoch 13/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0464 - accuracy: 0.9851
Epoch 14/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0439 - accuracy: 0.9861
Epoch 15/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0408 - accuracy: 0.9873
Epoch 16/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0384 - accuracy: 0.9872
Epoch 17/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0359 - accuracy: 0.9884
Epoch 18/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0338 - accuracy: 0.9874
Epoch 19/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0317 - accuracy: 0.9880
Epoch 20/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9888
Epoch 21/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0279 - accuracy: 0.9884
Epoch 22/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0257 - accuracy: 0.9901
Epoch 23/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0245 - accuracy: 0.9904
Epoch 24/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0227 - accuracy: 0.9920
Epoch 25/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0210 - accuracy: 0.9924
Epoch 26/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0195 - accuracy: 0.9928
Epoch 27/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0186 - accuracy: 0.9941
Epoch 28/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0177 - accuracy: 0.9945
Epoch 29/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0166 - accuracy: 0.9951
Epoch 30/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0150 - accuracy: 0.9954
Epoch 31/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0146 - accuracy: 0.9958
Epoch 32/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0138 - accuracy: 0.9959
Epoch 33/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0135 - accuracy: 0.9962
Epoch 34/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0126 - accuracy: 0.9961
Epoch 35/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0124 - accuracy: 0.9964
Epoch 36/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0114 - accuracy: 0.9974
Epoch 37/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0113 - accuracy: 0.9965
Epoch 38/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0115 - accuracy: 0.9966
Epoch 39/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0106 - accuracy: 0.9973
Epoch 40/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0103 - accuracy: 0.9973
Epoch 41/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0099 - accuracy: 0.9972
Epoch 42/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0095 - accuracy: 0.9970
Epoch 43/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0096 - accuracy: 0.9970
Epoch 44/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0097 - accuracy: 0.9973
Epoch 45/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0093 - accuracy: 0.9976
Epoch 46/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0092 - accuracy: 0.9970
Epoch 47/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0085 - accuracy: 0.9972
Epoch 48/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0081 - accuracy: 0.9974
Epoch 49/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0086 - accuracy: 0.9972
Epoch 50/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0081 - accuracy: 0.9976
Epoch 51/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0079 - accuracy: 0.9976
Epoch 52/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0079 - accuracy: 0.9972
Epoch 53/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0074 - accuracy: 0.9978
Epoch 54/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0077 - accuracy: 0.9970
Epoch 55/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0072 - accuracy: 0.9970
Epoch 56/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0067 - accuracy: 0.9980
Epoch 57/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0073 - accuracy: 0.9972
Epoch 58/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0072 - accuracy: 0.9974
Epoch 59/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 0.9973
Epoch 60/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0063 - accuracy: 0.9981
Epoch 61/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0065 - accuracy: 0.9972
Epoch 62/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0064 - accuracy: 0.9980
Epoch 63/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0066 - accuracy: 0.9977
Epoch 64/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0062 - accuracy: 0.9974
Epoch 65/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0064 - accuracy: 0.9974
Epoch 66/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0061 - accuracy: 0.9974
Epoch 67/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0063 - accuracy: 0.9970
Epoch 68/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0071 - accuracy: 0.9970
Epoch 69/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0063 - accuracy: 0.9973
Epoch 70/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0064 - accuracy: 0.9974
Epoch 71/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0061 - accuracy: 0.9973
Epoch 72/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0061 - accuracy: 0.9977
Epoch 73/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0057 - accuracy: 0.9978
Epoch 74/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0062 - accuracy: 0.9977
Epoch 75/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0061 - accuracy: 0.9977
Epoch 76/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0053 - accuracy: 0.9976
Epoch 77/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0055 - accuracy: 0.9978
Epoch 78/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0056 - accuracy: 0.9977
Epoch 79/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0051 - accuracy: 0.9976
Epoch 80/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0061 - accuracy: 0.9976
Epoch 81/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0060 - accuracy: 0.9974
Epoch 82/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0054 - accuracy: 0.9977
Epoch 83/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0056 - accuracy: 0.9970
Epoch 84/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0059 - accuracy: 0.9973
Epoch 85/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0052 - accuracy: 0.9980
Epoch 86/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0053 - accuracy: 0.9980
Epoch 87/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0069 - accuracy: 0.9976
Epoch 88/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0052 - accuracy: 0.9978
Epoch 89/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 0.9980
Epoch 90/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0056 - accuracy: 0.9974
Epoch 91/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0057 - accuracy: 0.9976
Epoch 92/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0051 - accuracy: 0.9973
Epoch 93/100
232/232 [==============================] - 0s 2ms/step - loss: 0.0052 - accuracy: 0.9976
Epoch 94/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0050 - accuracy: 0.9977
Epoch 95/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 0.9976
Epoch 96/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 0.9976
Epoch 97/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 0.9977
Epoch 98/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0053 - accuracy: 0.9977
Epoch 99/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0043 - accuracy: 0.9984
Epoch 100/100
232/232 [==============================] - 0s 1ms/step - loss: 0.0051 - accuracy: 0.9978

In [38]:
loss,accuracy = model.evaluate(X_eval, y_eval)
print(loss, accuracy)

2340/2340 [==============================] - 2s 963us/step - loss: 0.1526 - accuracy: 0.9866
0.15255092084407806 0.9865897297859192

## Predict on eval dataset for further labeling.

In [39]:
y_pred = model.predict(X_eval)
y_cls = (y_pred > 0.5).astype("int32")

In [60]:
(y_pred > 0.5).sum()

827

In [40]:
def eval_model(y_test, y_cls):
  y1 = y_eval.reshape(-1)
  y2 = y_cls.reshape(-1)
  print(roc_auc_score(y1, y2))
  print(classification_report(y1,y2))

In [ ]:
df_eval.head(100)

In [61]:
def record_to_label(df_eval,y_pred):
  df_eval['predict'] = y_pred
  df_eval['mid_value'] = abs(df_eval['predict'] - 0.5)
  df_eval = df_eval.sort_values('mid_value')
  value_limit = df_eval.iloc[100,-1]
  df_record4label = df_eval[(df_eval['mid_value'] <= value_limit)|(df_eval['fraud'] == 1)]
  path = '/content/drive/MyDrive/Colab Notebooks/finalproject/'
  file_csv = path + 'for_label.csv'
  df_record4label.to_csv(file_csv)
  return True

In [62]:
  path = '/content/drive/MyDrive/Colab Notebooks/finalproject/'
  file_csv = path + 'for_label.csv'
  df_record4label.to_csv(file_csv)